$primaryColor: #6A9BA6;
$secondaryColor: #103B40;
$accentColor: #346C73;
$fontColor: #180D07;
$whiteColor: #c4e0ec;
$menuColor: #6A9BA6;

$defaultFont: "Noto Serif", serif;
$lightWeight: 400;
$normalWeight: 600;
$boldWeight: 800; 

$gutter: 16px;